.gradient_0f0 {
	background-color:rgb(207,219,239);
	background-image:-o-linear-gradient(top, rgba(207,239,219,1) 0%, rgba(107,139,119,1) 55%); /* opera 11.10+ */
}

.gradient_f00 {
	background-color:rgb(178,0,0);
	background-image:-o-linear-gradient(top, rgba(201,201,201,1) 0%, rgba(178,0,0,1) 55%); /* opera 11.10+ */
}

.btn {border-radius:0;}
.btn_h0 {height:25px;}
.sel_h0 {height:25px; padding:0 5px 0 5px;}
.tbl_h0 {height:25px; width:100%;}
.txt_h0 {box-sizing:border-box; padding:0 5px 0 5px;}
