<!-- DF_2 Edit Group Form -->
		<div class="form-group row">
			<div class="col-md-8">
				<button class="btn btn-success" style="border-radius:0;" ng-disabled="g_edit.$invalid || cur_g.id==1" ng-click="db_G_update(cur_g);">Update</button>
				<button class="btn btn-warning" style="border-radius:0;" ng-disabled="g_edit.$invalid || cur_g.id==1" ng-click="db_G_update(cur_g); G_form_close('cancel',cur_g.id);">Update & List</button>
				<button class="btn btn-danger" style="border-radius:0;" ng-click="G_form_close('cancel',cur_g.id);">Cancel</button>
			</div>				
			<div class="col-md-4 has-warning">
				<label>Group' Card</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-4">
				<label>Number:<span class="text-danger" ng-show="g_edit.num.$invalid">&nbsp;REQUIRED!</span></label>
				<input class="form-control" maxlength="4" name="num" placeholder="Enter Number" style="border-radius:0; width:100px;" type="text" value="{{cur_g.num}}" ng-disabled="cur_g.id==1" ng-model="cur_g.num" required>
			</div>
			<div class="col-md-4">
				<label>National Number:</label>
				<input class="form-control" maxlength="30" name="national_descr" placeholder="Enter National Number" style="border-radius:0; width:200px;" type="text" value="{{cur_g.national_descr}}" ng-disabled="cur_g.id==1" ng-model="cur_g.national_descr">
			</div>
			<div class="col-md-4">
				<label>Nick:</label>
				<input class="form-control" maxlength="100" name="nick" placeholder="Enter Nick" style="border-radius:0; width:200px;" type="text" value="{{cur_g.nick}}" ng-disabled="cur_g.id==1" ng-model="cur_g.nick">
			</div>
		</div>
		<div class="form-group">
			<label>Comments:</label>
			<input class="form-control" maxlength="100" name="comments" placeholder="Enter Comments" style="border-radius:0; width:200px;" type="text" ng-disabled="cur_g.id==1" ng-model="cur_g.comments">
		</div>
