<!-- DF_ajs: Add Lot Form -->
<form class="alert alert-warning" id="l_add_form" name="l_add" hidden>
	<h3 class="text-center">New Lot' Card</h3>
	<div class="form-group">
		<label for="Num">#:<span class="text-danger" ng-show="l_add.num.$invalid">&nbsp;REQUIRED!</span></label>
		<input class="form-control" maxlength="6" name="num" placeholder="Enter Number" style="width:100px" type="text" ng-model="new_l.num" required>
	</div>
	<div class="form-group">
		<label for="Comments">Comments:</label>
		<input class="form-control" maxlength="10" name="comments" placeholder="Enter Comments" style="width:200px" type="text" ng-model="new_l.comments">
	</div>
	<div class="form-group">
		<label for="National_Descr">National Description:</label>
		<input class="form-control" name="national_descr" placeholder="Enter National Description" style="width:200px" type="text" ng-model="new_l.national_descr">
	</div>
	<div class="form-group">
		<label for="Nick">Nick:</label>
		<input class="form-control" name="nick" placeholder="Enter Nick" style="width:200px" type="text" ng-model="new_l.nick">
	</div>
	<div class="form-group">
		<button class="btn btn-success" ng-disabled="l_add.$invalid" ng-click="db_L_insert(new_l); L_form_close('cancel')">Add</button>
		<button class="btn btn-danger" ng-click="L_form_close('cancel')">Cancel</button>
	</div>
</form>