<!-- DF_ajs: Add Breed Form -->
		<div class="form-group row">
			<div class="col-md-8">
				<button class="btn btn-success" style="<?php echo $_btn_style;?>" ng-disabled="b_add.$invalid" ng-click="db_B_insert(new_b); Bs_form_close('cancel');">Застосувати</button>
				<button class="btn btn-danger" style="<?php echo $_btn_style;?>" ng-click="Bs_form_close('cancel');">X</button>
			</div>
			<div class="col-md-4 has-warning">
				<label>New Breed' Card</label>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-md-4">
				<label>№<span class="text-danger" ng-show="b_add.num.$invalid">&nbsp;REQUIRED!</span></label>
				<input class="form-control" maxlength="4" placeholder="Enter Number" style="<?php echo $_inp_style;?> width:100px;" type="text" ng-model="new_b.num" required>
			</div>
			<div class="col-md-4">
				<label>National №</label>
				<input class="form-control" maxlength="30" placeholder="Enter National Number" style="<?php echo $_inp_style;?> width:200px;" type="text" ng-model="new_b.national_descr">
			</div>
			<div class="col-md-4">
				<label>Name</label>
				<input class="form-control" maxlength="100" placeholder="Enter Name" style="<?php echo $_inp_style;?> width:200px;" type="text" ng-model="new_b.nick">
			</div>
		</div>
		<div class="form-group">
			<label>Comments</label>
			<input class="form-control" maxlength="100" placeholder="Enter Comments" style="<?php echo $_inp_style;?> width:200px;" type="text" ng-model="new_b.comments">
		</div>
