<!-- DF_2 Edit Cow Form -->
	<div class="form-group row">
		<div class="col-md-4">
			<button class="btn btn-success" ng-disabled="cw_edit.$invalid || cur_cw.id==1" ng-click="db_Cw_update(cur_cw)">Update</button>
			<button class="btn btn-warning" ng-disabled="cw_edit.$invalid || cur_cw.id==1" ng-click="db_Cw_update(cur_cw); Cw_form_close('cancel',cur_ox.id)">Update & List</button>
			<button class="btn btn-danger" ng-click="Cw_form_close('cancel',cur_cw.id)">Cancel</button>
		</div>
		<div class="col-md-4">
			<label></label>
		</div>
		<div class="col-md-4 has-warning">
			<label>Cow' Card</label>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label for="B_Date">Birth Date:<span class="text-danger" ng-show="cw_edit.b_date.$invalid">&nbsp;REQUIRED!</span></label>
			<input class="form-control" maxlength="10" name="cur_cw_b_date" readonly style="width:200px" type="text" value="{{cur_cw.b_date}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.b_date" required>
		</div>
		<div class="col-md-4">
			<label for="B_Num">Birth Number:</label>
			<input class="form-control" maxlength="30" name="cur_cw_b_num" style="width:200px" type="text" value="{{cur_cw.b_num}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.b_num">
		</div>
		<div class="col-md-4">
			<label for="N_Descr">National Number:</label>
			<input class="form-control" maxlength="30" name="cur_cw_n_descr" style="width:200px" type="text" value="{{cur_cw.national_descr}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.national_descr">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label for="Num">Number:<span class="text-danger" ng-show="cw_edit.cow_num.$invalid">&nbsp;REQUIRED!</span></label>
			<input class="form-control" maxlength="7" name="cur_cw_cow_num" style="width:100px" type="text" value="{{cur_cw.cow_num}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.cow_num" required>
		</div>
		<div class="col-md-4">
			<label for="Nick">Nick:</label>
			<input class="form-control" maxlength="100" name="cur_cw_nick" style="width:200px" type="text" value="{{cur_cw.nick}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.nick">
		</div>
		<div class="col-md-4">
			<label for="RFID">TAG:</label>
			<input class="form-control" maxlength="30" name="cur_cw_rfid_num" style="width:200px" type="text" value="{{cur_cw.rfid_num}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.rfid_num">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label for="Lot">Lot:</label>
			<select class="form-control" name="cur_cw_l_id" style="width:200px" type="select" ng-disabled="cur_cw.id==1" ng-model="cur_cw.l_det">
				<option class="form-control" ng-repeat="lots in lots_details" value="{{lots.id}}">{{lots.nick}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="Group">Group:</label>
			<select class="form-control" name="cur_cw_g_id" style="width:200px" type="select" ng-disabled="cur_cw.id==1" ng-model="cur_cw.g_det">
				<option class="form-control" ng-repeat="grs in grs_details" value="{{grs.id}}">{{grs.nick}}</option>
			</select>
		</div>
		<div class="col-md-4">
			<label for="Subgroup">Subgroup:</label>
			<select class="form-control" name="cur_cw_sg_id" style="width:200px" type="select" ng-disabled="cur_cw.id==1" ng-model="cur_cw.sg_det">
				<option class="form-control" ng-repeat="subgrs in subgrs_details" value="{{subgrs.id}}">{{subgrs.nick}}</option>
			</select>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label for="Breed">Breed:</label>
			<select class="form-control" name="cur_cw_b_id" style="width:200px" type="select" ng-disabled="cur_cw.id==1" ng-model="cur_cw.b_det">
				<option class="form-control" ng-repeat="breeds in breeds_details" value="{{breeds.id}}">{{breeds.nick}}</option>
			</select>
		</div>
		<div class="col-md-8">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-2">
			<label for="Mom">Mom:</label>
			<input class="form-control" readonly style="width:200px" type="text" value="{{cur_cw.mom_data}}" ng-disabled="cur_cw.id==1">
		</div>
		<div class="col-md-2">
			<label ng-hide="cur_cw.id==1">Mom' Search:</label>
			<select class="form-control mom_list" name="cur_cw_mom_id" style="width:160px" ng-model="cur_cw.mom" ng-hide="cur_cw.id==1" ng-change="mom_is_changed();"></select>
			<input class="form-control" maxlength='100' placeholder="..." style="width:100px" type="text" ng-hide="cur_cw.id==1" ng-keyup="cws_list_fill($event, 'mom_list');">
		</div>
		<div class="col-md-2">
			<label for="Dad">Dad:</label>
			<input class="form-control" readonly style="width:200px" type="text" value="{{cur_cw.dad_data}}" ng-disabled="cur_cw.id==1">
		</div>
		<div class="col-md-2">
			<label ng-hide="cur_cw.id==1">Dad' Search:</label>
			<select class="form-control dad_list" woname="cur_cw_dad_id" style="width:160px" ng-model="cur_cw.dad" ng-hide="cur_cw.id==1" ng-change="dad_is_changed();"></select>
			<input class="form-control" maxlength='100' placeholder="..." style="width:100px" type="text" ng-hide="cur_cw.id==1" ng-keyup="oxs_list_fill($event, 'dad_list');">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-md-4">
			<label for="Exterior Defects">Exterior Defects:</label>
			<input class="form-control" maxlength='100' style="width:200px" type="text" value="{{cur_cw.defects}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.defects">
		</div>
		<div class="col-md-4">
			<label for="Comments">Comments:</label>
			<input class="form-control" maxlength='100' style="width:200px" type="text" value="{{cur_cw.comments}}" ng-disabled="cur_cw.id==1" ng-model="cur_cw.comments">
		</div>
	</div>
